body{

font-family:Arial;
background:linear-gradient(135deg,#141e30,#243b55);
color:white;
text-align:center;
margin:0;

}

.container{

max-width:900px;
margin:auto;
padding:40px;

}

.title{

font-size:50px;

}

.bigText{

font-size:24px;
margin:15px;

}

.hidden{

display:none;

}

.card{

background:white;
color:black;
padding:30px;
border-radius:15px;

}

button{

padding:15px 30px;
font-size:20px;
border:none;
border-radius:12px;
cursor:pointer;
margin-top:20px;

background:linear-gradient(145deg,#00c853,#00e676);

box-shadow:0 6px #009624;

}

button:active{

transform:translateY(4px);
box-shadow:0 2px #009624;

}

#answers button{

display:block;
width:100%;
margin:10px 0;

}

#question{

font-size:26px;
margin-bottom:20px;

}

#feedback{

font-size:60px;
margin:10px;

}

#progressBar{

width:100%;
height:12px;
background:#ddd;
border-radius:10px;
margin-bottom:20px;

}

#progress{

height:12px;
width:0%;
background:#00c853;

}

#timer{

font-size:26px;
margin-bottom:10px;

}
